extends layout
block content
      if showLogin
        .logo
          b Couch Surf
        #login-box
          .left
            h1 Sign up
            form(method='POST' action='/signup')
              input(type='text', name='email', placeholder='E-mail')
              input(type='password', name='password', placeholder='Password')
              input(type='password', name='password2', placeholder='Retype password')
              input(type='submit', name='signup_submit', value='Register')
          .right
            h1 Already have an account?
            form(method='POST' action='/signin')
              input(type='text', name='email', placeholder='E-mail')
              input(type='password', name='password', placeholder='Password')
              input(type='submit', name='signup_submit', value='Sign in')
            .g-signin2(data-onsuccess='onSignIn')
          .or OR
      if currentUser
        #main-box
          h1= success
          h3= user
          p I want to...
          a(href=booksURL)
            button(class="mainLinkButton")
              div(class="buttonContainer")
                img(src="https://openclipart.org/download/275692/1489798288.svg", width="50", height="50")
                span  Read a Book
          br
          br
          a(href=watchURL)
            button(class="mainLinkButton")
              div(class="buttonContainer")
                img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Wikiversity-Mooc-Icon-Video.svg/2000px-Wikiversity-Mooc-Icon-Video.svg.png", width="50", height="50")
                span  Watch Something
          br
          br
          a(href=cookURL)
            button(class="mainLinkButton")
              div(class="buttonContainer")
                img(src="https://cdn3.iconfinder.com/data/icons/food-volume-2/48/97-512.png", width="50", height="50")
                span  Cook Something
          br
          br
          a(href=signoutURL) Sign Out