extends layout

block content
  h1= title
  
  p Welcome to #{title}
  form(action = "/search", method="POST", name = "search-books")
        div.input
            span.label Book Title 
            input(type="text", name="title")
        div.actions
            input(type="submit", value="Search")
  p #{result1}
  p #{result2}
  p I want to...
  a(href=booksURL) Read a Book
  br
  a(href=watchURL) Watch Something
