extends layout

block content
  h1= title
  h1= success
  h1= user

  p I want to...
  a(href=booksURL) Read a Book
  br
  a(href=watchURL) Watch Something
  br
  a(href=signupURL) Sign Up!
  br
  a(href=signinURL) Sign In!
  br 
  a(href= '/signout') Sign Out!